// Подключение шрифтов
@font-face{
    font-family: ChakraPetch;
    src: url(../fonts/ChakraPetch-Regular.ttf);
}

// Обнуление стилей
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Общий контейнер
body{
    width: 1440px;
    margin: 0 auto;
}

.header{
    height: 114px;
    background-color: #18181B;

    &__background{
        position: absolute;
        margin: 0 0 0 704px;
    }

    &__content{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 31px 0 0 0;
        margin: 0 0 0 120px;

        nav{
            width: 518px;
            display: flex;
            justify-content: space-between;
            font-family: ChakraPetch;            
        }

        &__item1{
            font-weight: 600;
        }

        &__item{
            display: flex;
            align-items: center;

            img{
                margin: 0 0 0 4px;
            }
        }

        &__btn{
            width: 126px;
            height: 52px;
            border: 1px solid white;
            background: none;
            color: white;
            font-family: ChakraPetch;
        }
    }
}

.banner{
    background-color: #18181B;

    &__background{
        position: absolute;
        margin: 170px 0 0 0;
    }

    &__light{
        position: absolute;
        margin: 0 0 0 565px;
        z-index: 1;
    }

    &__content{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 120px;

        &__text{
            margin: 87px 0 0 0;
            font-family: ChakraPetch;

            h1{
                width: 540px;
                font-size: 64px;
                line-height: 83.2px;
                color: white;
            }

            p{
                width: 446px;
                line-height: 28px;
                color: #D1D1D1;
            }

            &__btn{
                width: 206px;
                height: 50px;
                font-family: ChakraPetch;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1.5px;
                color: white;
                background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
                border: none;
                margin: 32px 0 0 0;
            }

            &__clients{
                display: flex;
                margin: 42px 0 0 0;
                align-items: center;

                &__happy{
                    width: 280px;
                    height: 50px;
                    align-items: center;
                    display: flex;
                    font-family: ChakraPetch;

                    p{
                        margin: 0 0 0 18px;
                        color: white;
                    }

                    span{
                        color: #D1D1D1;
                    }

                    &__underlining{
                        position: absolute;
                        margin: 30px 0 0 140px;
                    }
                }

                &__video{
                    position: relative;
                    z-index: 2;
                    margin: 0 0 0 75px;
                }
            }
        }

        &__img{
            position: relative;
            z-index: 2;
        }
    }
}

.opportunities{
    background-color: #18181B;

    &__content{
        width: 1200px;
        height: 357px;
        background-color: #252532;
        position: relative;
        z-index: 2;
        margin: 0 0 0 120px;
        padding: 42px 42px 0 64px;

        &__items{
            display: flex;
            justify-content: space-between;

            &__item{
                width: 324px;

                p:nth-of-type(1){
                    font-family: ChakraPetch;
                    font-size: 20px;
                    line-height: 26px;
                    color: white;
                    margin: 42px 0 0 0;
                }

                p:nth-of-type(2){
                    font-family: ChakraPetch;
                    font-size: 14px;
                    line-height: 28px;
                    color: #B0B0B2;
                    margin: 12px 0 0 0;
                }
            }
        }
    }
}

.vrServices{
    background-color: #18181B;
    padding: 120px 0 0 0;
    display: flex;

    &__backgroundOne{
        position: absolute;
        margin: 125px 0 0 120px;
    }

    &__backgroundTwo{
        position: absolute;
    }

    &__backgroundThree{
        position: absolute;
        margin: 517px 0 0 452px;
        z-index: 3;
    }

    &__img{
        margin: 0 0 0 145px;
        z-index: 2;
    }

    &__text{
        width: 550px;
        margin: 81px 0 0 80px;
        font-family: ChakraPetch;

        &__gradient{
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
            letter-spacing: 14%;
            line-height: 20.8px;
            font-weight: 700;
        }

        &__title{
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.5%;
            color: white;
            margin: 12px 0 0 0;
        }

        &__subtitle{
            width: 528px;
            line-height: 28px;
            color: #D1D1D1;
            margin: 12px 0 0 0;
        }

        &__points{
            margin: 24px 0 0 0;

            &__point{
                display: flex;
                align-items: center;
                margin: 14px 0 0 0;
                color: white;

                p{
                    margin: 0 0 0 12px;
                }
            }
        }

        &__btn{
            width: 168px;
            height: 50px;
            font-weight: 700;
            font-family: ChakraPetch;
            letter-spacing: 1.5px;
            background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
            border: none;
            color: white;
            margin: 32px 0 0 0;
        }
    }
}

.ourServices{
    background-color: #18181B;

    &__background{
        position: absolute;
        margin: 0 0 0 827px;
    }

    &__content{
        width: 1158px;
        display: flex;
        justify-content: space-between;
        padding: 173px 0 0 0;
        margin: 0 0 0 120px;

        &__title{
            width: 260px;
            p:nth-of-type(1){
                color: transparent;
                background-clip: text;
                background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
                letter-spacing: 14%;
                line-height: 20.8px;
                font-family: ChakraPetch;
                font-weight: 700;
            }
            p:nth-of-type(2){
                font-weight: 600;
                font-family: ChakraPetch;
                font-size: 48px;
                letter-spacing: -0.5%;
                color: white;
                line-height: 58px;
            }
        }

        &__text{
            width: 635px;
            line-height: 28px;
            font-family: ChakraPetch;
            color: #D1D1D1;
        }
    }
}

.cards{
    background-color: #18181B;
    padding: 46px 0 0 0;

    &__content{
        display: flex;
        margin: 0 89px;
        &__group{
            margin: 0 0 0 31px;

            &__card{
                width: 379px;
                height: 291px;
                background-color: #25253299;
                padding: 38px 56px 51px 32px;
                border: 1px solid #FFFFFF4D;

                p:nth-of-type(1){
                    font-family: ChakraPetch;
                    font-size: 20px;
                    line-height: 26px;
                    color: white;
                    margin: 60px 0 0 0;
                }
                p:nth-of-type(2){
                    font-family: ChakraPetch;
                    font-size: 14px;
                    line-height: 28px;
                    color: #B0B0B2;
                    margin: 12px 0 0 0;
                }

                span{
                    opacity: 0.1;
                }

                &__btn{
                    width: 177px;
                    height: 50px;
                    background-color: #FFFFFF0F;
                    font-size: 14px;
                    font-weight: 700;
                    font-family: ChakraPetch;
                    letter-spacing: 1.5px;
                    border: 1px solid white;
                    color: white;
                    position: absolute;
                    z-index: 1;
                    margin: 175px 0 0 70px;
                }
                

                &__cursor{
                    position: absolute;
                    z-index: 2;
                    margin: 205px 0 0 150px;
                }
            }

            &__card:nth-of-type(2){
                margin: 32px 0 0 0;
            }
        }

        &__group:nth-of-type(2){
            margin-top: 57px;
        }
        &__group:nth-of-type(3){
            margin-top: 135px;
        }
    }
}

.needs{
    background-color: #18181B;
    height: 850px;
    &__content{
        width: 1440px;
        display: flex;
        padding: 150px 0 0 0;

        &__text{
            font-family: ChakraPetch;
            margin: 94px 0 0 120px;

            &__gradient{
                color: transparent;
                background-clip: text;
                background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
                letter-spacing: 14%;
                line-height: 20.8px;
                font-weight: 700;
            }

            &__title{
                width: 550px;
                line-height: 58px;
                font-weight: 600;
                letter-spacing: -0.5%;
                font-size: 48px;
                margin: 12px 0 0 0;
                color: white;
            }

            &__points{
                width: 548px;
                margin: 32px 0 0 0;

                &__point{
                    margin: 48px 0 0 0;

                    &__subtitle{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        
                    }

                    hr{
                        margin: 12px 0 0 0;
                        border: 1px solid #FFFFFF59;
                    }

                    &__description{
                        line-height: 28px;
                        color: #D1D1D1;
                        margin: 12px 0 0 0;
                    }
                }

                &__point:nth-of-type(1){
                    margin: 0;
                }
            }
        }

        &__img{
            width: 608px;
            position: absolute;

            img:nth-of-type(1){
                position: absolute;
                margin: 571px 0 0 1123px;
            }
            img:nth-of-type(2){
                margin: 0 0 0 605px;
            }
        }
    }
}

.bringing{
    padding: 150px 0 0 0;
    background-color: #18181B;

    &__background{
        position: absolute;
        z-index: 1;
    }

    &__content{
        font-family: ChakraPetch;

        &__gradient{
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
            letter-spacing: 14%;
            line-height: 20.8px;
            font-weight: 700;
            text-align: center;
        }

        &__title{
            width: 750px;
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: -0.5%;
            color: white;
            text-align: center;
            margin: 0 auto;
            margin-top: 12px;
        }

        &__turntable{
            position: relative;
            z-index: 2;
            width: 1200px;
            margin: 0 auto;
            margin-top: 48px;

            &__text{
                position: absolute;
                margin: 52px 0 0 34px;

                &__btn{
                    width: 90px;
                    height: 24px;
                    font-weight: 500;
                    font-size: 14px;
                    font-family: ChakraPetch;
                    color: white;
                    background-color: #FFFFFF4D;
                    border: none;
                    border-radius: 16px;
                }

                p{
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 44px;
                    color: white;
                    letter-spacing: -2%;
                    margin: 12px 0 0 0;
                }
            }

            &__play{
                position: absolute;
                margin: 211px 0 0 550px;
            }
            &__line{
                position: absolute;
                margin: 473px 0 0 34px;
            }
        }

        &__btn{
            width: 182px;
            height: 50px;
            font-family: ChakraPetch;
            font-weight: 700;
            letter-spacing: 1.5px;
            background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
            margin: 48px 0 0 628px;
            color: white;
            border: none;
        }
    }
}