@font-face {
  font-family: ChakraPetch;
  src: url(../fonts/ChakraPetch-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 114px;
  background-color: #18181B;
}
.header__background {
  position: absolute;
  margin: 0 0 0 704px;
}
.header__content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 31px 0 0 0;
  margin: 0 0 0 120px;
}
.header__content nav {
  width: 518px;
  display: flex;
  justify-content: space-between;
  font-family: ChakraPetch;
}
.header__content__item1 {
  font-weight: 600;
}
.header__content__item {
  display: flex;
  align-items: center;
}
.header__content__item img {
  margin: 0 0 0 4px;
}
.header__content__btn {
  width: 126px;
  height: 52px;
  border: 1px solid white;
  background: none;
  color: white;
  font-family: ChakraPetch;
}

.banner {
  background-color: #18181B;
}
.banner__background {
  position: absolute;
  margin: 170px 0 0 0;
}
.banner__light {
  position: absolute;
  margin: 0 0 0 565px;
  z-index: 1;
}
.banner__content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 120px;
}
.banner__content__text {
  margin: 87px 0 0 0;
  font-family: ChakraPetch;
}
.banner__content__text h1 {
  width: 540px;
  font-size: 64px;
  line-height: 83.2px;
  color: white;
}
.banner__content__text p {
  width: 446px;
  line-height: 28px;
  color: #D1D1D1;
}
.banner__content__text__btn {
  width: 206px;
  height: 50px;
  font-family: ChakraPetch;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: white;
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border: none;
  margin: 32px 0 0 0;
}
.banner__content__text__clients {
  display: flex;
  margin: 42px 0 0 0;
  align-items: center;
}
.banner__content__text__clients__happy {
  width: 280px;
  height: 50px;
  align-items: center;
  display: flex;
  font-family: ChakraPetch;
}
.banner__content__text__clients__happy p {
  margin: 0 0 0 18px;
  color: white;
}
.banner__content__text__clients__happy span {
  color: #D1D1D1;
}
.banner__content__text__clients__happy__underlining {
  position: absolute;
  margin: 30px 0 0 140px;
}
.banner__content__text__clients__video {
  position: relative;
  z-index: 2;
  margin: 0 0 0 75px;
}
.banner__content__img {
  position: relative;
  z-index: 2;
}

.opportunities {
  background-color: #18181B;
}
.opportunities__content {
  width: 1200px;
  height: 357px;
  background-color: #252532;
  position: relative;
  z-index: 2;
  margin: 0 0 0 120px;
  padding: 42px 42px 0 64px;
}
.opportunities__content__items {
  display: flex;
  justify-content: space-between;
}
.opportunities__content__items__item {
  width: 324px;
}
.opportunities__content__items__item p:nth-of-type(1) {
  font-family: ChakraPetch;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 42px 0 0 0;
}
.opportunities__content__items__item p:nth-of-type(2) {
  font-family: ChakraPetch;
  font-size: 14px;
  line-height: 28px;
  color: #B0B0B2;
  margin: 12px 0 0 0;
}

.vrServices {
  background-color: #18181B;
  padding: 120px 0 0 0;
  display: flex;
}
.vrServices__backgroundOne {
  position: absolute;
  margin: 125px 0 0 120px;
}
.vrServices__backgroundTwo {
  position: absolute;
}
.vrServices__backgroundThree {
  position: absolute;
  margin: 517px 0 0 452px;
  z-index: 3;
}
.vrServices__img {
  margin: 0 0 0 145px;
  z-index: 2;
}
.vrServices__text {
  width: 550px;
  margin: 81px 0 0 80px;
  font-family: ChakraPetch;
}
.vrServices__text__gradient {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  letter-spacing: 14%;
  line-height: 20.8px;
  font-weight: 700;
}
.vrServices__text__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5%;
  color: white;
  margin: 12px 0 0 0;
}
.vrServices__text__subtitle {
  width: 528px;
  line-height: 28px;
  color: #D1D1D1;
  margin: 12px 0 0 0;
}
.vrServices__text__points {
  margin: 24px 0 0 0;
}
.vrServices__text__points__point {
  display: flex;
  align-items: center;
  margin: 14px 0 0 0;
  color: white;
}
.vrServices__text__points__point p {
  margin: 0 0 0 12px;
}
.vrServices__text__btn {
  width: 168px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border: none;
  color: white;
  margin: 32px 0 0 0;
}

.ourServices {
  background-color: #18181B;
}
.ourServices__background {
  position: absolute;
  margin: 0 0 0 827px;
}
.ourServices__content {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  padding: 173px 0 0 0;
  margin: 0 0 0 120px;
}
.ourServices__content__title {
  width: 260px;
}
.ourServices__content__title p:nth-of-type(1) {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  letter-spacing: 14%;
  line-height: 20.8px;
  font-family: ChakraPetch;
  font-weight: 700;
}
.ourServices__content__title p:nth-of-type(2) {
  font-weight: 600;
  font-family: ChakraPetch;
  font-size: 48px;
  letter-spacing: -0.5%;
  color: white;
  line-height: 58px;
}
.ourServices__content__text {
  width: 635px;
  line-height: 28px;
  font-family: ChakraPetch;
  color: #D1D1D1;
}

.cards {
  background-color: #18181B;
  padding: 46px 0 0 0;
}
.cards__content {
  display: flex;
  margin: 0 89px;
}
.cards__content__group {
  margin: 0 0 0 31px;
}
.cards__content__group__card {
  width: 379px;
  height: 291px;
  background-color: rgba(37, 37, 50, 0.6);
  padding: 38px 56px 51px 32px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.cards__content__group__card p:nth-of-type(1) {
  font-family: ChakraPetch;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 60px 0 0 0;
}
.cards__content__group__card p:nth-of-type(2) {
  font-family: ChakraPetch;
  font-size: 14px;
  line-height: 28px;
  color: #B0B0B2;
  margin: 12px 0 0 0;
}
.cards__content__group__card span {
  opacity: 0.1;
}
.cards__content__group__card__btn {
  width: 177px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.0588235294);
  font-size: 14px;
  font-weight: 700;
  font-family: ChakraPetch;
  letter-spacing: 1.5px;
  border: 1px solid white;
  color: white;
  position: absolute;
  z-index: 1;
  margin: 175px 0 0 70px;
}
.cards__content__group__card__cursor {
  position: absolute;
  z-index: 2;
  margin: 205px 0 0 150px;
}
.cards__content__group__card:nth-of-type(2) {
  margin: 32px 0 0 0;
}
.cards__content__group:nth-of-type(2) {
  margin-top: 57px;
}
.cards__content__group:nth-of-type(3) {
  margin-top: 135px;
}

.needs {
  background-color: #18181B;
  height: 850px;
}
.needs__content {
  width: 1440px;
  display: flex;
  padding: 150px 0 0 0;
}
.needs__content__text {
  font-family: ChakraPetch;
  margin: 94px 0 0 120px;
}
.needs__content__text__gradient {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  letter-spacing: 14%;
  line-height: 20.8px;
  font-weight: 700;
}
.needs__content__text__title {
  width: 550px;
  line-height: 58px;
  font-weight: 600;
  letter-spacing: -0.5%;
  font-size: 48px;
  margin: 12px 0 0 0;
  color: white;
}
.needs__content__text__points {
  width: 548px;
  margin: 32px 0 0 0;
}
.needs__content__text__points__point {
  margin: 48px 0 0 0;
}
.needs__content__text__points__point__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.needs__content__text__points__point hr {
  margin: 12px 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
}
.needs__content__text__points__point__description {
  line-height: 28px;
  color: #D1D1D1;
  margin: 12px 0 0 0;
}
.needs__content__text__points__point:nth-of-type(1) {
  margin: 0;
}
.needs__content__img {
  width: 608px;
  position: absolute;
}
.needs__content__img img:nth-of-type(1) {
  position: absolute;
  margin: 571px 0 0 1123px;
}
.needs__content__img img:nth-of-type(2) {
  margin: 0 0 0 605px;
}/*# sourceMappingURL=Homepage.css.map */